<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/confirmarCompra.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<head>
    <title>Confirmar compra</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/modals :: loginRegisterModals}"></div>
    
    <div class="confirmar-compra-container d-flex justify-content-center">
        <div class="card shadow-sm mb-4" style="max-width: 1200px;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img th:src="${producto.imagen}" class="img-fluid rounded-start" id="imgCompra" alt="[[${producto.nombre}]]" style="max-height: 600px;">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">[[${producto.nombre}]]</h5>
                        <p class="card-text">[[${producto.descripcion}]]</p>
                        <form th:action="@{/productos/confirmarPedido/{id}(id=${producto.id})}" method="post">
                            <div class="mb-3">
                                <label for="cantidad" class="form-label">Cantidad:</label>
                                <input type="number" id="cantidad" name="cantidad" class="form-control" min="1" step="1" value="1" required>
                            </div>
                            <p class="card-text"><strong>Precio: $<span id="precioTotal">[[${producto.precio}]]</span></strong></p>
                            <input type="hidden" name="precioTotal" th:value="${producto.precio}">
                            <div th:if="${error}" class="alert alert-danger" role="alert">
                                <p th:text="${error}"></p>
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <a href="/productos" class="btn btn-outline-danger">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Confirmar Compra</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <script>
  document.getElementById('cantidad').addEventListener('input', function() {

    var value = event.target.value;
        
        // Reemplazar las comas con un punto y verificar si es un número válido
        if (/[^0-9]/.test(value)) {
            event.target.value = value.replace(/[^0-9]/g, '');
        }
            const precioUnitario = [[${producto.precio}]]; 
            const cantidad = this.value;
            const precioTotal = precioUnitario * cantidad;
            document.getElementById('precioTotal').textContent = precioTotal.toFixed(2); // Actualiza el precio total
        });

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>