<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<head>
    <title>Perfil</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <h1>¡Hola! <span th:text="${session.nombreUsuario}"></span>, este es tu perfil</h1>
    <h2>Tus datos:</h2>
    <ul>    
        <li>Nombre: <span th:text="${session.nombreUsuario}"></span></li>
        <li>Correo: <span th:text="${session.mailUsuario}"></span></li>

    </ul>   
    <div th:replace="~{fragments/modals :: loginRegisterModals}"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>