<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/productos.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<head>
    <title>Productos</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="product-grid">
        <div class="product-item" th:each="producto : ${productos}" th:classappend="${producto.stock <= 0} ? ' out-of-stock' : ''">
            <div class="product-image-container">
                <img th:src="${producto.imagen}" alt="Imagen del producto" class="product-image">
                <div class="stock-overlay" th:if="${producto.stock <= 0}">
                    <span>Sin stock</span>
                </div>
            </div>
            <div class="container">
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <div class="product-details">
                    <h2 th:text="${producto.nombre}"></h2>
                    <p th:text="${producto.descripcion}"></p>
                    <span class="product-price" th:text="'$' + ${producto.precio}"></span>
                    <div class="product-actions">
                        <button id="carritoButton" th:onclick="'añadirAlCarrito(' + ${producto.id} + ')'">Agregar al Carrito</button>
                        <a th:href="@{/productos/comprarAhora/{id}(id=${producto.id})}" class="btn btn-primary" id="comprarButton">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    
    <div th:replace="(~{fragments/modals :: loginRegisterModals})"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>