.nav-link {
    font-size: 1.2rem; /* Ajusta el tamaño según sea necesario */
    margin-left: 1rem; /* Ajusta la separación entre los elementos */
    margin-right: 1rem; /* Ajusta la separación entre los elementos */
    color: #de1919;
}